.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 10px;
  color: #fff;
  width: fit-content;
  height: 100px;
  font-size: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s ease forwards, fadeOut 0.5s ease 2.5s forwards;
  opacity: 0;
}

.toast-container.success {
  background-color: #28a745;
}

.toast-container.error {
  background-color: #dc3545;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
